body {
  background-color: $blue-bg-color;
  margin-left: 20px;
  margin-top: 20px;
}

.container {
  max-width: 450px;
}

.box {
  border: 3px solid $white;
  color: $textcolor;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  height: 110px;
  padding: 5px;
  text-align: center;
}

.nav {
  padding: 5px;
}

h1 {
  clear: both;
  color: $textcolor;
  font-family: 'Lobster', cursive;
  font-size: 55px;
  margin: 25px;
  text-align: center;
}

.r1c1,
.r1c2,
.r1c3 {
  border-top: 0;
}

.r3c1,
.r3c2,
.r3c3 {
  border-bottom: 0;
}

.r1c1,
.r2c1,
.r3c1 {
  border-left: 0;
}

.r1c3,
.r2c3,
.r3c3 {
  border-right: 0;
}

.auth-message,
.directions {
  clear: both;
  color: $textcolor;
  font-family: 'Architects Daughter', cursive;
  font-size: 22px;
  text-align: center;
  margin: 3px;
  padding: 3px;
}

.gamebutton {
  text-align: right;
}

.rightside {
  margin: 5px;
}

.creator {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
